[submodule "packages/looking-glass"]
  path = packages/looking-glass
  url = https://aur.archlinux.org/looking-glass.git

[submodule "packages/prismlauncher"]
  path = packages/prismlauncher
  url = https://aur.archlinux.org/prismlauncher.git
