{% if ARCH == "x86_64" %}
linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts
{% elif ARCH == "aarch64" %}
linux /%INSTALL_DIR%/boot/%ARCH%/Image
{% endif %}
initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
options archisobasedir=%INSTALL_DIR% archisodevice=UUID=%ARCHISO_UUID%
